:root {
  --color-primary: cornflowerblue;
  --color-primary-dark: #26428b;
  --color-background: #DAE0E6;
  --color-secondary: rgb(246, 247, 248);
  --color-light: white;
  --color-border: rgb(204, 204, 204);

  --box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15),inset 0 -1px 0 rgba(0,0,0,0.15);
  --spacer-0: 0px;
  --spacer-1: 4px;
  --spacer-2: 8px;
  --spacer-3: 16px;
  --spacer-4: 24px;
  --spacer-5: 32px;

  --container-width: 1000px;

  --border-radius: 0.25rem;
  --border: 1px solid var(--color-border);

  --font-size-regular: var(--spacer-3);
  --font-size-small: calc(var(--spacer-3)*0.8);
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--spacer-3);
}

p, h1, h2, h3 {
  margin: 0;
}