.post {
  border-radius: var(--border-radius);
  background-color: var(--color-light);
  margin-bottom: var(--spacer-3);
  display: flex;
  border: var(--border);
}

.post .post_voteBar {
  background-color: var(--color-secondary);
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  padding: var(--spacer-2);
  text-align: center;
}

.post .post_voteBar p {
  font-weight: bold;
  margin: var(--spacer-2) 0;
}

.post .post_content {
  padding: var(--spacer-3);
}